---
bg: "{{red_i base}}, {{green_i base}}, {{blue_i base}}"
light_bg: "{{red_i mantle}}, {{green_i mantle}}, {{blue_i mantle}}"
dark_bg: "{{red_i crust}}, {{green_i crust}}, {{blue_i crust}}"
text: "{{red_i text}}, {{green_i text}}, {{blue_i text}}"
highlight: "{{red_i surface0}}, {{green_i surface0}}, {{blue_i surface0}}"
border: "{{red_i overlay1}}, {{green_i overlay1}}, {{blue_i overlay1}}"
link: "{{red_i blue}}, {{green_i blue}}, {{blue_i blue}}"
---
{
  "Name": "Catppuccin {{titlecase flavor}}",
  "BackgroundColor": "{{bg}}",
  "LightBackgroundColor": "{{light_bg}}",
  "DarkBackgroundColor": "{{dark_bg}}",
  "TextColor": "{{text}}",
  "BorderColor": "{{border}}",
  "CheckerColor": "{{bg}}",
  "CheckerColor2": "{{light_bg}}",
  "CheckerSize": 15,
  "LinkColor": "{{link}}",
  "MenuHighlightColor": "{{highlight}}",
  "MenuHighlightBorderColor": "{{border}}",
  "MenuBorderColor": "{{border}}",
  "MenuCheckBackgroundColor": "{{bg}}",
  "MenuFont": "Segoe UI, 9.75pt",
  "ContextMenuFont": "Segoe UI, 9.75pt",
  "ContextMenuOpacity": 100,
  "SeparatorLightColor": "{{bg}}",
  "SeparatorDarkColor": "{{light_bg}}"
}
